<!-- VERSION <%= htmlWebpackPlugin.options.version %> -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="<%= htmlWebpackPlugin.options.name %>" version="<%= htmlWebpackPlugin.options.version %>">
  </head>
  <body>
    <app class="container"></app>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaXE1N1IWzlv3Gg_PRVvaYJurBjEWE5ak&callback=initMap"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  </body>
</html>
