<!-- VERSION <%= htmlWebpackPlugin.options.version %> -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="<%= htmlWebpackPlugin.options.name %>" version="<%= htmlWebpackPlugin.options.version %>">
  </head>
  <body>
    <!-- <app class="container"></app> -->
    <div class="app-container">
      <div class="header-container">

        <div class="row margin-15">
          <div class="input-field col s12">
            <i class="material-icons prefix">room</i>
            <input id="input-destino" class="controls" type="text" placeholder="Informe um destino">
            <label for="input-destino">Destino</label>
          </div>
        </div>

      </div>

      <div class="map-container">
        <div id="map"></div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaXE1N1IWzlv3Gg_PRVvaYJurBjEWE5ak&libraries=places&callback=initMap"

    ></script>
  </body>
</html>
